{% extends 'base.html' %} {% block content %}

<h1>New Store</h1>

<form action="/new_store" method="POST">
  <fieldset>
    <legend>Please enter your information:</legend>
    {{ grocery_store_form.csrf_token }}

    <!-- TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
    {{ grocery_store_form.title.label }}
    <!--  -->
    {{ grocery_store_form.title}}
    <!--  -->
    {{ grocery_store_form.address.label }}
    <!--  -->
    {{ grocery_store_form.address }}

    <input type="submit" value="Submit" />
  </fieldset>
</form>

{% endblock %}
